.body {
  background: url("/css/img/background.jpg");
  font-family: Verdana, sans-serif;
  font-size: 18px;
}
.header {
  height: 50px;
  margin-bottom: 30px;
  background: white;
  border: 1px solid #D3E0E9;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  width: 100%;
  min-height: 45px;
  background: white;
  border: 1px solid #c9c8c8;
  border-radius: 5px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1) inset;
  outline: 0;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background: #f9f9f9;
}
.button:active {
  background: #f4f4f4;
}
.button_green {
  background: #00aa38;
  border: none;
  color: white;
}
.button_green:hover {
  background: #1cba00;
}
.button_green:active {
  background: #009b31;
}
.button_red {
  background: #e93a0a;
  border: none;
  color: white;
}
.button_red:hover {
  background: #ff6f47;
}
.button_red:active {
  background: #c7320a;
}
.button_second {
  display: flex;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  padding: 8px 10px;
  border: 2px solid #c9c8c8;
  border-radius: 3px;
  background: transparent;
  box-shadow: none;
  color: #6b6966;
  text-transform: none;
  transition-property: border-color, color;
  transition-duration: 0.3s, 0.3s;
}
.button_second:hover {
  border-color: #1cba00;
  color: black;
  cursor: pointer;
}
.button_default {
  color: #c9c8c8;
  border: 1px solid #e2e2e2;
  cursor: auto;
}
.button_default:hover {
  background: white;
}
.block-info {
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.block-info-element {
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  padding: 10px 15px;
  border: 2px solid #c9c8c8;
  border-radius: 5px;
  text-align: center;
}
.block-info-element:last-child {
  margin-right: 0;
}
.block-info-element__main {
  margin-bottom: 5px;
  font-size: 22px;
}
.block-info-element__main_small {
  margin-top: 5px;
  font-size: 18px;
}
.block-info-element__comment {
  font-size: 12px;
  color: #979695;
}
@media screen and (max-width: 767px) {
  .block-info {
    padding: 3px 8px;
  }
  .block-info-element {
    flex-grow: 1;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .block-info-element:last-child {
    margin-right: 5px;
    margin-bottom: 0;
  }
  .block-info-element__main {
    margin-bottom: 3px;
  }
  .block-info-element__comment {
    font-size: 14px;
  }
}
.block-content {
  display: flex;
  flex-direction: column;
}
.block-content-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.block-content-header__title {
  margin-left: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.block-content-header__title_center {
  margin-left: 0;
  text-align: center;
  padding-top: 10px;
}
.block-content-header__hr {
  width: 100%;
  border: none;
  border-top: 2px solid #c9c8c8;
}
.block-content-header_center {
  flex-direction: row;
  margin-bottom: 20px;
}
.block-content-header_center > .block-content-header__title {
  margin-right: 10px;
}
.block-content-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.block-content-main__element {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.block-content-main__title,
.block-content-main__info {
  display: flex;
  min-width: 150px;
  font-size: 15px;
}
.block-content-main__title {
  justify-content: flex-end;
  margin-right: 10px;
}
.block-content-main__title:after {
  content: ":";
}
.block-content-main__info {
  color: #979695;
}
.hr {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #c9c8c8;
}
.icon {
  background-size: 100% 100%;
}
.icon__calendar_grey {
  background: url("/css/img/icons/calendar_grey.svg");
}
.icon__book-reference_grey {
  background: url("/css/img/icons/book-reference_grey.svg");
}
.icon__conversation_grey {
  background: url("/css/img/icons/conversation_grey.svg");
}
.book {
  max-width: 900px;
}
.book__cover {
  width: 230px;
  max-width: 230px;
  height: 340px;
  margin-bottom: 25px;
  background-color: lightgrey;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.book-buttons {
  position: relative;
  margin-bottom: 20px;
}
.book-buttons__element {
  margin-bottom: 15px;
}
.book-buttons__element:last-child {
  margin-bottom: 0;
}
.book-buttons__tab {
  position: absolute;
  top: 0;
  left: calc((100% - 148px) / 2);
  z-index: -10;
  width: 148px;
  height: calc(170px + 0 * 70px);
  background: #e2e2e2;
}
.book-buttons__tab_1 {
  height: calc(170px + 1 * 70px);
}
.book-buttons__tab_2 {
  height: calc(170px + 2 * 70px);
}
.book-buttons__tab_3 {
  height: calc(170px + 3 * 70px);
}
.book-buttons__tab_4 {
  height: calc(170px + 4 * 70px);
}
.book-buttons__tab_5 {
  height: calc(170px + 5 * 70px);
}
.book-buttons__tab:before,
.book-buttons__tab:after {
  content: "";
  position: absolute;
  bottom: -24px;
  width: 74px;
  height: 24px;
  box-sizing: border-box;
  border-color: #e2e2e2;
  border-bottom-color: rgba(226, 226, 226, 0);
  border-style: solid;
  border-width: 12px 37px;
}
.book-buttons__tab:before {
  left: 0;
  border-right-color: rgba(226, 226, 226, 0);
}
.book-buttons__tab:after {
  right: 0;
  border-left-color: rgba(226, 226, 226, 0);
}
@media screen and (max-width: 767px) {
  .book-buttons {
    margin-left: 45px;
  }
  .book-buttons__element {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .book-buttons__element:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 479px) {
  .book-buttons {
    margin-left: 0;
  }
  .book-buttons__element {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .book-buttons__element:last-child {
    margin-bottom: 0;
  }
}
.book-download__title {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.book-download__format {
  flex-basis: 200px;
  max-width: 200px;
  min-height: 40px;
  margin-left: calc((100% - 200px) / 2);
  margin-bottom: 5px;
  border-radius: 5px;
}
.book-download__size {
  margin-bottom: 10px;
  font-size: 14px;
  color: #6b6966;
}
@media screen and (max-width: 767px) {
  .book-download {
    margin-left: 40px;
  }
  .book-download__format {
    display: flex;
    flex-basis: 20%;
    max-width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 8px 10px;
    border: 2px solid #c9c8c8;
    border-radius: 3px;
    background: transparent;
    box-shadow: none;
    color: #6b6966;
    text-decoration: none;
    transition-property: border-color, color;
    transition-duration: 0.3s, 0.3s;
  }
  .book-download__format:hover {
    border-color: #1cba00;
    color: black;
    cursor: pointer;
  }
}
@media screen and (max-width: 479px) {
  .book-download {
    margin-left: 0;
  }
}
.book__title {
  margin-bottom: 10px;
  font-family: "Times New Roman", "Times CY", "Nimbus Roman No9", serif;
  font-size: 48px;
  text-align: center;
  line-height: 1;
}
.book__author {
  margin-left: 25px;
  margin-bottom: 15px;
  color: #979695;
}
@media screen and (max-width: 767px) {
  .book__author {
    margin-left: 0;
  }
}
.book-info {
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.book-info-element {
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  padding: 10px 15px;
  border: 2px solid #c9c8c8;
  border-radius: 5px;
  text-align: center;
}
.book-info-element:last-child {
  margin-right: 0;
}
.book-info-element__main {
  margin-bottom: 5px;
}
.book-info-element__comment {
  font-size: 12px;
  color: #979695;
}
@media screen and (max-width: 767px) {
  .book-info {
    padding: 3px 8px;
  }
  .book-info-element {
    flex-grow: 1;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .book-info-element:last-child {
    margin-right: 5px;
    margin-bottom: 0;
  }
  .book-info-element__main {
    margin-bottom: 3px;
  }
  .book-info-element__comment {
    font-size: 14px;
  }
}
.book__description {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 479px) {
  .book__description {
    font-size: 14px;
  }
}
.book-genres {
  margin-bottom: 15px;
}
.book-genres__title {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.book-genres-content {
  flex-direction: row;
  flex-wrap: wrap;
}
.book-genres-content__element {
  display: flex;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 10px;
  border: 2px solid #c9c8c8;
  border-radius: 3px;
  font-size: 14px;
  color: #6b6966;
  text-decoration: none;
  transition: 0.1s;
}
.book-genres-content__element:last-child {
  margin: 0;
}
.book-genres-content__element:hover {
  border-color: #1cba00;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .book-genres-content__element {
    margin-right: 5px;
    padding: 5px 8px;
  }
}
.review {
  max-width: 900px;
  margin-top: 80px;
}
.review__element {
  width: 100%;
  margin-bottom: 40px;
}
.review__element:last-child {
  margin-bottom: 0;
}
.review__main {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}
.review-rating {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.review-rating:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #c9c8c8;
}
.review-rating__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 35px;
  margin-left: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #c9c8c8;
  color: white;
}
@media screen and (max-width: 479px) {
  .review-rating__header {
    margin-left: 0;
  }
}
.review-rating-stars {
  display: flex;
  margin-left: 15px;
}
@media screen and (max-width: 479px) {
  .review-rating-stars {
    display: none;
  }
}
.review-rating__star {
  width: 20px;
  height: 20px;
  fill: #c9c8c8;
}
.review-rating[data-rating="10"]:after,
.review-rating[data-rating="9"]:after,
.review-rating[data-rating="8"]:after,
.review-rating[data-rating="7"]:after {
  background: #1cba00;
}
.review-rating[data-rating="10"] .review-rating__header,
.review-rating[data-rating="9"] .review-rating__header,
.review-rating[data-rating="8"] .review-rating__header,
.review-rating[data-rating="7"] .review-rating__header {
  background: #1cba00;
}
.review-rating[data-rating="10"] .review-rating__star_active,
.review-rating[data-rating="9"] .review-rating__star_active,
.review-rating[data-rating="8"] .review-rating__star_active,
.review-rating[data-rating="7"] .review-rating__star_active {
  fill: #1cba00;
}
.review-rating[data-rating="6"]:after,
.review-rating[data-rating="5"]:after,
.review-rating[data-rating="4"]:after {
  background: #f3b134;
}
.review-rating[data-rating="6"] .review-rating__header,
.review-rating[data-rating="5"] .review-rating__header,
.review-rating[data-rating="4"] .review-rating__header {
  background: #f3b134;
}
.review-rating[data-rating="6"] .review-rating__star_active,
.review-rating[data-rating="5"] .review-rating__star_active,
.review-rating[data-rating="4"] .review-rating__star_active {
  fill: #f3b134;
}
.review-rating[data-rating="3"]:after,
.review-rating[data-rating="2"]:after,
.review-rating[data-rating="1"]:after {
  background: #eb502a;
}
.review-rating[data-rating="3"] .review-rating__header,
.review-rating[data-rating="2"] .review-rating__header,
.review-rating[data-rating="1"] .review-rating__header {
  background: #eb502a;
}
.review-rating[data-rating="3"] .review-rating__star_active,
.review-rating[data-rating="2"] .review-rating__star_active,
.review-rating[data-rating="1"] .review-rating__star_active {
  fill: #eb502a;
}
.review__avatar {
  width: 97px;
  max-width: 97px;
  height: 113px;
  margin-bottom: 15px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.review__avatar-box {
  flex-basis: 117px;
  max-width: 117px;
}
@media screen and (max-width: 767px) {
  .review__avatar {
    background-position-y: 0;
    background-size: contain;
  }
}
.review__info-box {
  flex-basis: calc(100% - 125px);
}
.review__user-name {
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
}
.review__date {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #979695;
}
@media screen and (max-width: 767px) {
  .review__date {
    margin-left: 0;
  }
}
.review__title {
  margin-bottom: 10px;
  font-weight: bold;
}
.review-text {
  margin-left: 10px;
  margin-bottom: 20px;
  line-height: 1.5;
  overflow-y: hidden;
  position: relative;
  width: 200px;
  max-height: 16.5em;
}
@media screen and (max-width: 767px) {
  .review-text {
    margin-left: 0;
  }
}
.review-text__block {
  position: absolute;
  left: 20px;
  top: calc(15em - 4px);
  display: flex;
  align-items: center;
  z-index: 10;
  width: calc(100% - 20px);
  height: 1.5em;
  background: linear-gradient(to right, transparent 0%, url("/css/img/background.jpg") 40%, url("/css/img/background.jpg") 100%);
}
.review-text__more {
  position: absolute;
  top: calc(15em - 4px);
  right: 0;
  z-index: 20;
  height: 1.5em;
  outline: none;
  border: none;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}
.review-grade {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.review-grade * {
  margin-right: 7px;
}
.review-grade *:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .review-grade {
    margin-left: 0;
  }
}
.review-grade__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 7px;
  outline: none;
  border: 2px solid #e2e2e2;
  background: #efefef;
}
.review-grade__button:disabled {
  border-color: #efefef;
  background: url("/css/img/background.jpg");
}
.review-grade__button:disabled:hover {
  border-color: #efefef;
  cursor: auto;
}
.review-grade__button:hover {
  border-color: #c9c8c8;
  cursor: pointer;
}
.user {
  max-width: 900px;
}
.user-content {
  margin-top: 20px;
}
.user__avatar {
  width: 255px;
  max-width: 230px;
  height: 270px;
  margin-bottom: 15px;
  background-color: lightgrey;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.user__name {
  margin: 10px 0;
  font-size: 20px;
}
.user__status {
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #979695;
}
@media screen and (max-width: 767px) {
  .user__status {
    margin-left: 0;
  }
}
.user-book {
  display: flex;
  margin-bottom: 15px;
}
.user-book__main {
  display: flex;
  flex-direction: row;
}
.user-book__cover {
  width: 115px;
  max-width: 115px;
  height: 170px;
  margin-right: 15px;
  background-color: lightgrey;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.user-book__info {
  display: flex;
  flex-direction: column;
}
.user-book__title {
  margin: 5px 0 15px;
  font-size: 16px;
}
.user-book-content__element {
  margin-bottom: 10px;
}
.user-book-content__title,
.user-book-content__info {
  min-width: 0;
  font-size: 13px;
  color: #979695;
}
.user-book__footer {
  width: 100%;
  margin-top: 15px
    ;
}
.user-book__button {
  flex-grow: 1;
  min-height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 14px;
}
.user-book__button:last-child {
  margin-right: 0;
}
.book-list-aside {
  max-width: 250px;
}
.book-list-main {
  max-width: 800px;
}
.book-list-element {
  min-height: 40px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  background: white;
}
.book-list-element:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 315px) {
  .book-list-element__aside {
    display: none;
  }
}
.book-list-element__main {
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
}
.book-list-element__cover {
  float: left;
  width: 115px;
  max-width: 115px;
  height: 170px;
  margin-right: 15px;
  background-color: lightgrey;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1023px) {
  .book-list-element__cover {
    width: 69px;
    max-width: 69px;
    height: 102px;
    margin-right: 10px;
  }
}
.book-list-element__title {
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 1023px) {
  .book-list-element__title {
    flex-basis: calc(100% - 200px);
    max-width: calc(100% - 200px);
  }
}
.book-list-element-rating {
  flex-direction: row;
  flex-basis: 200px;
  max-width: 200px;
}
.book-list-element-rating-stars {
  position: relative;
  width: 114px;
  height: 26px;
  overflow: hidden;
  background: white;
  animation: base 1s forwards;
}
.book-list-element-rating-stars__form {
  position: absolute;
  top: 0;
  left: 0;
  width: 114px;
  height: 26px;
  background: url("/css/img/star-plate.svg") no-repeat;
}
.book-list-element-rating-stars__fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  background: #e2e2e2;
  animation: base 1s forwards;
}
.book-list-element-rating-stars__fill_green {
  background: white;
  animation: green 1s forwards;
}
.book-list-element-rating-stars__fill_yellow {
  background: white;
  animation: yellow 1s forwards;
}
.book-list-element-rating-stars__fill_red {
  background: white;
  animation: red 1s forwards;
}
.book-list-element-rating__number {
  margin-left: 10px;
}
@keyframes base {
  0% {
    background: white;
  }
  100% {
    background: #e2e2e2;
  }
}
@keyframes green {
  0% {
    background: white;
  }
  100% {
    background: #1cba00;
  }
}
@keyframes yellow {
  0% {
    background: white;
  }
  100% {
    background: #f3b134;
  }
}
@keyframes red {
  0% {
    background: white;
  }
  100% {
    background: #eb502a;
  }
}
.book-list-element__author {
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #979695;
}
@media screen and (max-width: 1023px) {
  .book-list-element__author {
    margin-left: 0;
  }
}
.book-list-element-description {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.5;
  overflow-y: hidden;
  position: relative;
  width: 200px;
  max-height: 9em;
}
@media screen and (max-width: 767px) {
  .book-list-element-description {
    margin-left: 0;
  }
}
.book-list-element-description__block {
  position: absolute;
  left: 20px;
  top: 7.5em;
  display: flex;
  align-items: center;
  z-index: 10;
  width: calc(100% - 20px);
  height: 1.5em;
  background: linear-gradient(to right, transparent 0%, white 40%, white 100%);
}
.book-list-element-description__more {
  position: absolute;
  top: 7.5em;
  right: 0;
  z-index: 20;
  height: 1.5em;
  padding-right: 20px;
  outline: none;
  border: none;
  background: transparent;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.book-list-element-genres {
  display: flex;
  margin-top: 30px;
}
.book-list-element-genres__title {
  margin-top: 5px;
  text-transform: uppercase;
}
.book-list-element-genres__container {
  flex-wrap: wrap;
}
.book-list-element-genres__element {
  padding: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #c9c8c8;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}
.book-list-element-genres__element:hover {
  background: #f5f8fa;
}
.book-list-element-genres__element_active {
  background: url("/css/img/background.jpg");
}
.book-list-element-genres__element_active:hover {
  cursor: auto;
}
@media screen and (max-width: 767px) {
  .book-list-element-genres__title {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 300px) {
  .book-list-element-genres__element {
    font-size: 12px;
  }
}
.book-list-element-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.book-list-element-info__element {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #979695;
}
.book-list-element-info__element:last-child {
  margin-right: 0;
}
.book-list-element-info__icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .book-list-element-info__element {
    margin-right: 22px;
  }
  .book-list-element-info__element:last-child {
    margin-right: 0;
  }
  .book-list-element-info__icon {
    width: 15px;
    height: 15px;
    margin-right: 7px;
  }
}
@media screen and (max-width: 479px) {
  .book-list-element-info__element_not-important {
    display: none;
  }
}
.book-list-element__button {
  min-height: 35px;
  margin-top: 10px;
}
.book-list-search {
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
}
.book-list-search__input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding: 10px 15px;
  outline: none;
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  font-size: 16px;
}
.book-list-search__input::placeholder {
  color: #979695;
  font-size: 14px;
  margin-bottom: 5px;
}
.book-list-search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 35px;
  padding-right: 5px;
  border: none;
  border-radius: 5px;
  background: transparent 50% 50% no-repeat;
  background-image: url("/css/img/icons/search_grey.svg");
  background-size: 60% 60%;
  cursor: pointer;
  transition: background-inmage 0.3s;
}
.book-list-search__button:hover {
  background-image: url("/css/img/icons/search_green.svg");
}
.book-list-search-variants {
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: none;
  width: calc(100% - 50px);
  padding: 5px 0 10px;
  background: white;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
}
.book-list-search-variants__element {
  display: block;
  overflow: hidden;
  margin: 0 10px 0 15px;
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 14px;
  color: #6b6966;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.book-list-search-variants__element:last-child {
  border-bottom: none;
}
.book-list-search-variants__element:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #00aa38;
}
.book-list-search__input:focus ~ .book-list-search-variants {
  display: block;
}
.book-list-sort {
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
.book-list-sort__title {
  margin-right: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.book-list-sort__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.book-list-sort__element {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 5px 15px;
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  background: white;
  font-size: 15px;
  animation: display 0.4s forwards;
  user-select: none;
}
.book-list-sort__element:hover {
  border-color: #c9c8c8;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.book-list-sort input[type="radio"] {
  display: none;
}
.book-list-sort input[type="radio"]:checked + .book-list-sort__element {
  border-color: #1cba00;
  background: url("/css/img/background.jpg");
  color: #009b31;
  cursor: auto;
}
.book-list-sort input[type="radio"]:checked + .book-list-sort__element:hover {
  border-color: #1cba00;
  background: url("/css/img/background.jpg");
  color: #009b31;
}
@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.book-list-genres {
  position: relative;
  width: 100%;
  max-height: 625px;
  overflow: hidden;
  margin-right: 20px;
  margin-top: 61px;
}
.book-list-genres__title {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.book-list-genres__hr {
  display: none;
}
.book-list-genres__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.book-list-genres__content input[type="checkbox"] {
  display: none;
}
.book-list-genres__element {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 5px 30px 5px 10px;
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  background: white;
  font-size: 16px;
  user-select: none;
  transition-duration: 0.2s;
}
.book-list-genres__element:hover {
  border-color: #c9c8c8;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.book-list-genres input[type="checkbox"]:checked + .book-list-genres__element {
  order: -1;
  border-color: #1cba00;
  background: url("/css/img/background.jpg");
  color: #009b31;
}
.book-list-genres input[type="checkbox"]:checked + .book-list-genres__element:hover {
  border-color: #1cba00;
  color: #009b31;
}
.book-list-genres input[type="checkbox"]:checked + .book-list-genres__element:after {
  content: '';
  position: absolute;
  top: 0;
  right: 5px;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  background: url("/css/img/icons/checkmark.svg") 50% 50% no-repeat;
  background-size: 60% 60%;
}
.book-list-genres__stripe {
  position: absolute;
  top: 590px;
  left: 0;
  width: 100%;
  height: 40px;
  background: url("/css/img/background.jpg");
}
.book-list-genres__more {
  position: absolute;
  top: 590px;
  left: 0;
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .book-list-genres {
    max-height: 150px;
    margin: 0 0 20px 0;
  }
  .book-list-genres .book-list-genres__title {
    display: flex;
    margin-bottom: 15px;
  }
  .book-list-genres .book-list-genres__hr {
    display: block;
    margin-left: 20px;
    width: calc(100% - 190px);
  }
  .book-list-genres .book-list-genres__content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .book-list-genres .book-list-genres__element {
    flex-grow: 1;
    text-align: center;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
  .book-list-genres .book-list-genres__element:after {
    display: none;
  }
  .book-list-genres .book-list-genres__stripe {
    top: 110px;
    left: 0;
  }
  .book-list-genres .book-list-genres__more {
    top: 110px;
    left: 0;
    text-align: right;
  }
}
