.button {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 50px;
    width: 100%;
    min-height: 45px;

    background: white;

    border: 1px solid @grey;
    outline: 0;

    box-shadow: 3px 3px 0 0 rgba(128, 128, 128, 0.2);

    font-family: "Verdana", "Geneva CY", "DejaVu Sans", sans-serif;
    font-size: 18px;
    color: black;
    text-transform: uppercase;

    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
        transition-duration: 0.2s;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;

        width: 0;
        height: 0;

        border: 2px solid transparent;

        opacity: 0;
    }
    &:before {
        bottom: 10%;
        left: 5px;
    }
    &:after {
        top: 10%;
        right: 5px;
    }

    &:hover:before,
    &:hover:after {
        height: ~'calc(80% - 4px)';
        width: 20px;
        opacity: 1;
        transition: height 0.2s 0s, width 0.1s 0.2s;
    }
    &:hover:before {
        border-top-color: @grey;
        border-left-color: @grey;
    }
    &:hover:after {
        border-bottom-color: @grey;
        border-right-color: @grey;
    }

    &:active:before,
    &:active:after {
        width: ~"calc(100% - 14px)";
    }


    &_green {
        background: @green;
        border: none;
        color: white;

        &:hover:before {
            border-top-color: white;
            border-left-color: white;
        }
        &:hover:after {
            border-bottom-color: white;
            border-right-color: white;
        }
    }

    &_default {
        color: @grey;
        border: 1px solid @lightgrey;
        cursor: auto;

        &:hover {
            background: white;
        }
    }
}