.review {
    max-width: 900px;
    margin-top: 80px;

    &__element {
        width: 100%;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        font-size: 17px;
    }
}